.idea
.DS_Store
testdata/.DS_Store
testdata/big.csv
testdata/result_default/test_1.csv
testdata/result_default/test_2.csv
testdata/result_default/test_3.csv
testdata/result_small_buffer/test_1.csv
testdata/result_small_buffer/test_2.csv
testdata/result_small_buffer/test_3.csv
testdata/result_without_header/test_1.csv
testdata/result_without_header/test_2.csv
testdata/result_without_header/test_3.csv
testdata/test_1.csv
testdata/test_2.csv
testdata/test_3.csv